nav {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  background-color: rgb(111, 247, 252);
}

a:hover {
  background-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    
}

h1 {
    text-align: center;
}

#input-form {
    margin-bottom: 20px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

#average-age {
    font-weight: bold;
    margin-bottom: 10px;
}

@media print {
    #input-form {
        display: none;
    }
}
.bg {
    /* The image used */
   
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  }
    body {
      background-color: #add8e6;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
   
    
    .header {
      background-color: #0386b9b7;
        color: #fff;
        text-align: center;
        padding: 20px;
        width: 100%;
        
    }
    .logo {
        display: inline-block;
        width: 250px;
        height: 250px;
        background-image: url('rcd3-Riva-Pizzeria-Amberg-emblem - Kopie.png');
        background-size: cover;
        margin-right: 10px;
        vertical-align: middle;
    }
    footer {
      background-color: #0074a2;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    

.ocean {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background 2s;
}

.ocean-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

  
